<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>	BOD - Home</title>
	<link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../libs/owl.carousel/dist/assets/owl.carousel.min.css" />
	<link rel="stylesheet" href="../../libs/owl.carousel/dist/assets/owl.theme.default.min.css" />
	<link rel="stylesheet" href="../../css/main.css">

	<script src="../../libs/jquery/dist/jquery.min.js"></script>
	<script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../libs/underscore/underscore-min.js"></script>
	<script src="../../libs/owl.carousel/dist/owl.carousel.min.js"></script>

	<script src="meeting_dashboard.js"></script>
</head>
<body>
	<main class="bod-main">
		<div class="bod-content">
			<!--Start: BOD PageLayout -->
			<div class="row bod-page">
				<div class="col-sm-12 col-md-8 col-lg-9">	
					<!--Start: BOD Calendar Navigation -->				
					<section class="bod-navigation owl-carousel owl-theme" id="bodNavigation">
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>
					    <div class="bod-navigation__item item">
							<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<span class="bod-navigation__item-label">2/2/2017</span>
					    </div>

						
					</section>
					<!--End: BOD Calendar Navigation -->
					
					<!--Start: BOD Breadcrumbs -->
					<div class="row">
						<div class="col-sm-12 col-md-9">
							<!--Start: BOD Breadcrumbs -->
							<ul class="bod-breadcrumbs">					 
								<li class="bod-breadcrumbs__item">Dashboard</li>					   
								<li class="bod-breadcrumbs__item">Monthly Board Meeting</li>
								<li class="bod-breadcrumbs__item">Jan-15</li>
							</ul>
							<!--End: BOD Breadcrumbs -->
						</div>
						<div class="col-sm-12 col-md-3 m-t-4">
							<button class="btn btn--secondary btn-block" id="btnAddMeeting"><i class="fa fa-plus" aria-hidden="true"></i>Add Meeting</button>
						</div>
					</div>
					<!--End: BOD Breadcrumbs -->
					
					<!--Start: BOD Blocks -->
					<section class="bod-block m-b-4">
						<header class="bod-block__header"><i class="fa fa-calendar" aria-hidden="true"></i>Meeting Details</header>
						<div class="bod-block__body">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod eu erat vitae pharetra. Vestibulum nibh arcu, mattis et nulla quis, efficitur pharetra lorem. Aliquam feugiat in purus eu aliquam. Mauris ac mi iaculis, condimentum est nec, suscipit velit. Nullam interdum nisl urna, vel volutpat velit efficitur condimentum. Vivamus egestas nec risus nec iaculis. Nulla efficitur, purus at condimentum maximus, urna felis dignissim massa, vitae lobortis dolor arcu in ligula. Suspendisse vel malesuada mauris, varius pharetra velit. Integer condimentum metus at ultrices tincidunt. Vestibulum a vestibulum magna, in vulputate ipsum.
						</div>
					</section>
					<!--End: BOD Blocks -->
					
					<!--Start: BOD Module Wrapper-->
					<section class="bod-module-wrapper">
						<h3 class="bod-module__title">Agenda</h3>
						<div class="bod-module">

							<!--Start: BOD List Group -->
							<ul class="bod-list-group bod-list-group--brdless-a list-group m-b-0">
							  <li class="list-group-item bod-agenda">
								  	<div class="row">
								  		<div class="col-sm-9">
								  			<div class="bod-agenda__icn"><i class="fa fa-calendar" aria-hidden="true"></i></div>
											<div class="bod-agenda__content">
									  			<h4 class="bod-agenda__title">Lorem Ipsum Sit Amet	<span class="bod-agenda__title-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>5:15PM</span></h4>
												<div class="bod-agenda__desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing el euisd eu erat vitae pharetra.Vestibulum nibh arcu, mattis et nulla quis, efficitur pharetra lorem.
												</div>
												<ul class="bod-agenda__action">
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-up m-r-0" aria-hidden="true"></i></a></li>
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-down m-r-0" aria-hidden="true"></i></a></li>
													<li class="m-l-4 p-l-4 bod-agenda__action-divider"><a class="btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
												</ul>
											</div>
											
								  		</div>
								  		<div class="col-sm-3">
								  			<span class="pull-right"><button type="button" class="btn btn--primary" data-toggle="collapse" data-target="#agendaItem-1" aria-expanded="false" aria-controls="agendaItem-1">View Details</button></span>
								  		</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-sm-12">													
											<div class="collapse" id="agendaItem-1">										
									  			

									  			<div class="bod-agenda__content bod-agenda__content--block">
										  			<h4 class="bod-agenda__title"><i class="fa fa-paperclip" aria-hidden="true"></i>Attachments</h4>
													<div class="bod-agenda__desc">
														<ul class="bod-agenda__attachments">
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
														</ul>
													</div>
													<ul class="bod-agenda__action">														
														<li><a class="btn-link"><i class="fa fa-plus" aria-hidden="true"></i>Add</a></li>
													</ul>
												</div>

									  			<div class="bod-agenda__content bod-agenda__content--block">
										  			<h4 class="bod-agenda__title"><i class="fa fa-comment" aria-hidden="true"></i>Comments</h4>
													<div class="bod-agenda__desc p-l-3">
														<section class="bod-agenda__posts">
															<div class="m-b-6">
																<a class="bod-agenda__post-pointer active"><i class="fa fa fa-share" aria-hidden="true"></i></a>
																<ul  class="bod-agenda__post">
																	<li class="bod-agenda__tag">
																		<p class="bod-agenda__tag-line">
																			<span class="bod-agenda__tag-user"><i class="fa fa-user" aria-hidden="true"></i>Bill</span> got a review for<span class="bod-agenda__tag-object"> FLAT PLUS UI Interface Design</span> from <span class="bod-agenda__tag-user">   <img  src="assets/user-1.png"/>Andrew M.</span>
																		</p>
																		<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																	</li>
																	<li class="bod-agenda__comments">
																		<div class="bod-agenda__comment-img">
																			<img  src="assets/user-2.png"/>
																		</div>
																		<div class="bod-agenda__comment">
																			<p class="bod-agenda__tag-line">
																				<span class="bod-agenda__tag-user">Andrew</span> Good Job. Congrats and hope to see more admin templates like this in the future.
																			</p>
																			<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																		</div>
																		

																	</li>																
																</ul>
																<div class="bod-agenda__post-reply">
																	
																</div>
															</div>

															<div class="m-b-6">
																<a class="bod-agenda__post-pointer"><i class="fa fa fa-share" aria-hidden="true"></i></a>
																<ul  class="bod-agenda__post">
																	<li class="bod-agenda__tag">
																		<p class="bod-agenda__tag-line">
																			<span class="bod-agenda__tag-user"><i class="fa fa-user" aria-hidden="true"></i>Bill</span> got a review for<span class="bod-agenda__tag-object"> FLAT PLUS UI Interface Design</span> from <span class="bod-agenda__tag-user">   <img  src="assets/user-1.png"/>Andrew M.</span>
																		</p>
																		<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																	</li>
																	<li class="bod-agenda__comments">
																		<div class="bod-agenda__comment-img">
																			<img  src="assets/user-2.png"/>
																		</div>
																		<div class="bod-agenda__comment">
																			<p class="bod-agenda__tag-line">
																				<span class="bod-agenda__tag-user">Andrew</span> Good Job. Congrats and hope to see more admin templates like this in the future.
																			</p>
																			<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																		</div>
																		

																	</li>																
																</ul>
																<div class="bod-agenda__post-reply">
																	
																</div>
															</div>

															<div>
																<a class="bod-agenda__post-pointer"><i class="fa fa fa-share" aria-hidden="true"></i></a>
																<ul  class="bod-agenda__post">
																	<li class="bod-agenda__tag">
																		<p class="bod-agenda__tag-line">
																			<span class="bod-agenda__tag-user"><i class="fa fa-user" aria-hidden="true"></i>Bill</span> got a review for<span class="bod-agenda__tag-object"> FLAT PLUS UI Interface Design</span> from <span class="bod-agenda__tag-user">   <img  src="assets/user-1.png"/>Andrew M.</span>
																		</p>
																		<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																	</li>
																	<li class="bod-agenda__comments">
																		<div class="bod-agenda__comment-img">
																			<img  src="assets/user-2.png"/>
																		</div>
																		<div class="bod-agenda__comment">
																			<p class="bod-agenda__tag-line">
																				<span class="bod-agenda__tag-user">Andrew</span> Good Job. Congrats and hope to see more admin templates like this in the future.
																			</p>
																			<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																		</div>
																		

																	</li>																
																</ul>
																<div class="bod-agenda__post-reply">
																	
																</div>
															</div>	
															
														</section>
													</div>
													<ul class="bod-agenda__action">														
														<li><a class="btn-link"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>View more...</a></li>
													</ul>
												</div>								  		
											</div>

								  		</div>
								  	</div>
							  </li>

							  <li class="list-group-item bod-agenda">
								  	<div class="row">
								  		<div class="col-sm-9">
								  			<div class="bod-agenda__icn"><i class="fa fa-calendar" aria-hidden="true"></i></div>
											<div class="bod-agenda__content">
									  			<h4 class="bod-agenda__title">Lorem Ipsum Sit Amet	<span class="bod-agenda__title-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>5:15PM</span></h4>
												<div class="bod-agenda__desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing el euisd eu erat vitae pharetra.Vestibulum nibh arcu, mattis et nulla quis, efficitur pharetra lorem.
												</div>
												<ul class="bod-agenda__action">
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-up m-r-0" aria-hidden="true"></i></a></li>
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-down m-r-0" aria-hidden="true"></i></a></li>
													<li class="m-l-4 p-l-4 bod-agenda__action-divider"><a class="btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
												</ul>
											</div>
											
								  		</div>
								  		<div class="col-sm-3">
								  			<span class="pull-right"><button type="button" class="btn btn--primary" data-toggle="collapse" data-target="#agendaItem-2" aria-expanded="false" aria-controls="agendaItem-2">View Details</button></span>
								  		</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-sm-12">													
											<div class="collapse" id="agendaItem-2">										
									  			

									  			<div class="bod-agenda__content bod-agenda__content--block">
										  			<h4 class="bod-agenda__title"><i class="fa fa-paperclip" aria-hidden="true"></i>Attachments</h4>
													<div class="bod-agenda__desc">
														<ul class="bod-agenda__attachments">
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
														</ul>
													</div>
													<ul class="bod-agenda__action">														
														<li><a class="btn-link"><i class="fa fa-plus" aria-hidden="true"></i>Add</a></li>
													</ul>
												</div>

									  			<div class="bod-agenda__content bod-agenda__content--block">
										  			<h4 class="bod-agenda__title"><i class="fa fa-comment" aria-hidden="true"></i>Comments</h4>
													<div class="bod-agenda__desc p-l-3">
														<section class="bod-agenda__posts">
															<div class="m-b-6">
																<a class="bod-agenda__post-pointer active"><i class="fa fa fa-share" aria-hidden="true"></i></a>
																<ul  class="bod-agenda__post">
																	<li class="bod-agenda__tag">
																		<p class="bod-agenda__tag-line">
																			<span class="bod-agenda__tag-user"><i class="fa fa-user" aria-hidden="true"></i>Bill</span> got a review for<span class="bod-agenda__tag-object"> FLAT PLUS UI Interface Design</span> from <span class="bod-agenda__tag-user">   <img  src="assets/user-1.png"/>Andrew M.</span>
																		</p>
																		<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																	</li>
																	<li class="bod-agenda__comments">
																		<div class="bod-agenda__comment-img">
																			<img  src="assets/user-2.png"/>
																		</div>
																		<div class="bod-agenda__comment">
																			<p class="bod-agenda__tag-line">
																				<span class="bod-agenda__tag-user">Andrew</span> Good Job. Congrats and hope to see more admin templates like this in the future.
																			</p>
																			<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																		</div>
																		

																	</li>																
																</ul>
																<div class="bod-agenda__post-reply">
																	
																</div>
															</div>

															<div class="m-b-6">
																<a class="bod-agenda__post-pointer"><i class="fa fa fa-share" aria-hidden="true"></i></a>
																<ul  class="bod-agenda__post">
																	<li class="bod-agenda__tag">
																		<p class="bod-agenda__tag-line">
																			<span class="bod-agenda__tag-user"><i class="fa fa-user" aria-hidden="true"></i>Bill</span> got a review for<span class="bod-agenda__tag-object"> FLAT PLUS UI Interface Design</span> from <span class="bod-agenda__tag-user">   <img  src="assets/user-1.png"/>Andrew M.</span>
																		</p>
																		<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																	</li>
																	<li class="bod-agenda__comments">
																		<div class="bod-agenda__comment-img">
																			<img  src="assets/user-2.png"/>
																		</div>
																		<div class="bod-agenda__comment">
																			<p class="bod-agenda__tag-line">
																				<span class="bod-agenda__tag-user">Andrew</span> Good Job. Congrats and hope to see more admin templates like this in the future.
																			</p>
																			<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																		</div>
																		

																	</li>																
																</ul>
																<div class="bod-agenda__post-reply">
																	
																</div>
															</div>

															<div>
																<a class="bod-agenda__post-pointer"><i class="fa fa fa-share" aria-hidden="true"></i></a>
																<ul  class="bod-agenda__post">
																	<li class="bod-agenda__tag">
																		<p class="bod-agenda__tag-line">
																			<span class="bod-agenda__tag-user"><i class="fa fa-user" aria-hidden="true"></i>Bill</span> got a review for<span class="bod-agenda__tag-object"> FLAT PLUS UI Interface Design</span> from <span class="bod-agenda__tag-user">   <img  src="assets/user-1.png"/>Andrew M.</span>
																		</p>
																		<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																	</li>
																	<li class="bod-agenda__comments">
																		<div class="bod-agenda__comment-img">
																			<img  src="assets/user-2.png"/>
																		</div>
																		<div class="bod-agenda__comment">
																			<p class="bod-agenda__tag-line">
																				<span class="bod-agenda__tag-user">Andrew</span> Good Job. Congrats and hope to see more admin templates like this in the future.
																			</p>
																			<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																		</div>
																		

																	</li>																
																</ul>
																<div class="bod-agenda__post-reply">
																	
																</div>
															</div>	
															
														</section>
													</div>
													<ul class="bod-agenda__action">														
														<li><a class="btn-link"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>View more...</a></li>
													</ul>
												</div>								  		
											</div>

								  		</div>
								  	</div>
							  </li>
							  
							  <li class="list-group-item bod-agenda">
								  	<div class="row">
								  		<div class="col-sm-9">
								  			<div class="bod-agenda__icn"><i class="fa fa-calendar" aria-hidden="true"></i></div>
											<div class="bod-agenda__content">
									  			<h4 class="bod-agenda__title">Lorem Ipsum Sit Amet</h4>
												<div class="bod-agenda__desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing el euisd eu erat vitae pharetra.Vestibulum nibh arcu, mattis et nulla quis, efficitur pharetra lorem.
												</div>
												<ul class="bod-agenda__action">
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-up m-r-0" aria-hidden="true"></i></a></li>
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-down m-r-0" aria-hidden="true"></i></a></li>
													<li class="m-l-4 p-l-4 bod-agenda__action-divider"><a class="btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
												</ul>
											</div>
								  		</div>
								  		<div class="col-sm-3">
								  			<span class="pull-right"><button type="button"  class="btn btn--primary">View Details</button></span>
								  		</div>
								  	</div>
								  	<div class="row">
								  		
								  	</div>
							  </li>

							   <li class="list-group-item bod-agenda">
								  	<div class="row">
								  		<div class="col-sm-9">
								  			<div class="bod-agenda__icn"><i class="fa fa-calendar" aria-hidden="true"></i></div>
											<div class="bod-agenda__content">
									  			<h4 class="bod-agenda__title">Lorem Ipsum Sit Amet</h4>
												<div class="bod-agenda__desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing el euisd eu erat vitae pharetra.Vestibulum nibh arcu, mattis et nulla quis, efficitur pharetra lorem.
												</div>
												<ul class="bod-agenda__action">
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-up m-r-0" aria-hidden="true"></i></a></li>
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-down m-r-0" aria-hidden="true"></i></a></li>
													<li class="m-l-4 p-l-4 bod-agenda__action-divider"><a class="btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
												</ul>
											</div>
								  		</div>
								  		<div class="col-sm-3">
								  			<span class="pull-right"><button type="button" class="btn btn--primary">View Details</button></span>
								  		</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-sm-12">
								  			

								  		</div>
								  	</div>
							   </li>

							   <li class="list-group-item bod-agenda">
								  	<div class="row">
								  		<div class="col-sm-9">
								  			<div class="bod-agenda__icn"><i class="fa fa-calendar" aria-hidden="true"></i></div>
											<div class="bod-agenda__content">
									  			<h4 class="bod-agenda__title">Lorem Ipsum Sit Amet</h4>
												<div class="bod-agenda__desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing el euisd eu erat vitae pharetra.Vestibulum nibh arcu, mattis et nulla quis, efficitur pharetra lorem.
												</div>
												<ul class="bod-agenda__action">
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-up m-r-0" aria-hidden="true"></i></a></li>
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-down m-r-0" aria-hidden="true"></i></a></li>
													<li class="m-l-4 p-l-4 bod-agenda__action-divider"><a class="btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
												</ul>
											</div>
								  		</div>
								  		<div class="col-sm-3">
								  			<span class="pull-right"><button type="button" class="btn btn--primary">View Details</button></span>
								  		</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-sm-12">
								  			

								  		</div>
								  	</div>
							   </li>

							   <li class="list-group-item bod-agenda">
								  	<div class="row">
								  		<div class="col-sm-9">
								  			<div class="bod-agenda__icn"><i class="fa fa-calendar" aria-hidden="true"></i></div>
											<div class="bod-agenda__content">
									  			<h4 class="bod-agenda__title">Lorem Ipsum Sit Amet</h4>
												<div class="bod-agenda__desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing el euisd eu erat vitae pharetra.Vestibulum nibh arcu, mattis et nulla quis, efficitur pharetra lorem.
												</div>
												<ul class="bod-agenda__action">
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-up m-r-0" aria-hidden="true"></i></a></li>
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-down m-r-0" aria-hidden="true"></i></a></li>
													<li class="m-l-4 p-l-4 bod-agenda__action-divider"><a class="btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
												</ul>
											</div>
								  		</div>
								  		<div class="col-sm-3">
								  			<span class="pull-right"><button type="button" class="btn btn--primary">View Details</button></span>
								  		</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-sm-12">
								  			

								  		</div>
								  	</div>
							   </li>

							   <li class="list-group-item bod-agenda">
								  	<div class="row">
								  		<div class="col-sm-9">
								  			<div class="bod-agenda__icn"><i class="fa fa-calendar" aria-hidden="true"></i></div>
											<div class="bod-agenda__content">
									  			<h4 class="bod-agenda__title">Lorem Ipsum Sit Amet</h4>
												<div class="bod-agenda__desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing el euisd eu erat vitae pharetra.Vestibulum nibh arcu, mattis et nulla quis, efficitur pharetra lorem.
												</div>
												<ul class="bod-agenda__action">
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-up m-r-0" aria-hidden="true"></i></a></li>
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-down m-r-0" aria-hidden="true"></i></a></li>
													<li class="m-l-4 p-l-4 bod-agenda__action-divider"><a class="btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
												</ul>
											</div>
								  		</div>
								  		<div class="col-sm-3">
								  			<span class="pull-right"><button type="button" class="btn btn--primary">View Details</button></span>
								  		</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-sm-12">
								  			

								  		</div>
								  	</div>
							  </li>
							</ul>
							<!--End: BOD List Group -->

						</div>
					</section>
					<!--End: BOD Module Wrapper-->


					<!--Start: BOD Module Wrapper-->
					<section class="bod-module-wrapper">
						<h3 class="bod-module__title">Agenda</h3>
						<div class="bod-module">

							<!--Start: BOD List Group -->
							<ul class="bod-list-group bod-list-group--brdless-a list-group m-b-0" id="bodAgenda">
							  <li class="list-group-item bod-agenda">
								  	<div class="row">
								  		<div class="col-sm-9">
								  			<div class="bod-agenda__icn"><i class="fa fa-calendar" aria-hidden="true"></i></div>
											<div class="bod-agenda__content">
									  			<h4 class="bod-agenda__title">Lorem Ipsum Sit Amet	<span class="bod-agenda__title-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>5:15PM</span></h4>
												<div class="bod-agenda__desc">
													Lorem ipsum dolor sit amet, consectetur adipiscing el euisd eu erat vitae pharetra.Vestibulum nibh arcu, mattis et nulla quis, efficitur pharetra lorem.
												</div>
												<ul class="bod-agenda__action">
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-up m-r-0" aria-hidden="true"></i></a></li>
													<li><a class="bod-agenda__action-item"><i class="fa fa-thumbs-down m-r-0" aria-hidden="true"></i></a></li>
													<li class="m-l-4 p-l-4 bod-agenda__action-divider"><a class="btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
												</ul>
											</div>
											
								  		</div>
								  		<div class="col-sm-3">
								  			<span class="pull-right"><button class="btn btn--primary" type="button" data-toggle="collapse" data-target="#agendaItem-1" aria-expanded="false" aria-controls="agendaItem-1">View Details</button></span>
								  		</div>
								  	</div>
								  	<div class="row">
								  		<div class="col-sm-12">													
											<div class="collapse" id="agendaItem-1">										
									  			

									  			<div class="bod-agenda__content bod-agenda__content--block">
										  			<h4 class="bod-agenda__title"><i class="fa fa-paperclip" aria-hidden="true"></i>Attachments</h4>
													<div class="bod-agenda__desc">
														<ul class="bod-agenda__attachments">
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
															<li class="bod-agenda__attachments-item">
																<span class="bod-agenda__attachments-icn"><i class="fa fa-file" aria-hidden="true"></i></span>
																<dl class="bod-agenda__attachments-info">
																    <dt>Mosaicpro</dt>
																    <dd>22/01/2017</dd>									  
																</dl>
															</li>
														</ul>
													</div>
													<ul class="bod-agenda__action">														
														<li><a class="btn-link"><i class="fa fa-plus" aria-hidden="true"></i>Add</a></li>
													</ul>
												</div>

									  			<div class="bod-agenda__content bod-agenda__content--block">
										  			<h4 class="bod-agenda__title"><i class="fa fa-comment" aria-hidden="true"></i>Comments</h4>
													<div class="bod-agenda__desc p-l-3">
														<section class="bod-agenda__posts" id="BODAgendaComments">
															<div class="m-b-6">
																<a class="bod-agenda__post-pointer active"><i class="fa fa fa-share" aria-hidden="true"></i></a>
																<ul  class="bod-agenda__post">
																	<li class="bod-agenda__tag">
																		<p class="bod-agenda__tag-line">
																			<span class="bod-agenda__tag-user"><i class="fa fa-user" aria-hidden="true"></i>Bill</span> got a review for<span class="bod-agenda__tag-object"> FLAT PLUS UI Interface Design</span> from <span class="bod-agenda__tag-user">   <img  src="assets/user-1.png"/>Andrew M.</span>
																		</p>
																		<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																	</li>
																	<li class="bod-agenda__comments">
																		<div class="bod-agenda__comment-img">
																			<img  src="assets/user-2.png"/>
																		</div>
																		<div class="bod-agenda__comment">
																			<p class="bod-agenda__tag-line">
																				<span class="bod-agenda__tag-user">Andrew</span> Good Job. Congrats and hope to see more admin templates like this in the future.
																			</p>
																			<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																		</div>
																		

																	</li>																
																</ul>
																<div class="bod-agenda__post-reply">
																	
																</div>
															</div>

															<div class="m-b-6">
																<a class="bod-agenda__post-pointer"><i class="fa fa fa-share" aria-hidden="true"></i></a>
																<ul  class="bod-agenda__post">
																	<li class="bod-agenda__tag">
																		<p class="bod-agenda__tag-line">
																			<span class="bod-agenda__tag-user"><i class="fa fa-user" aria-hidden="true"></i>Bill</span> got a review for<span class="bod-agenda__tag-object"> FLAT PLUS UI Interface Design</span> from <span class="bod-agenda__tag-user">   <img  src="assets/user-1.png"/>Andrew M.</span>
																		</p>
																		<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																	</li>
																	<li class="bod-agenda__comments">
																		<div class="bod-agenda__comment-img">
																			<img  src="assets/user-2.png"/>
																		</div>
																		<div class="bod-agenda__comment">
																			<p class="bod-agenda__tag-line">
																				<span class="bod-agenda__tag-user">Andrew</span> Good Job. Congrats and hope to see more admin templates like this in the future.
																			</p>
																			<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																		</div>
																		

																	</li>																
																</ul>
																<div class="bod-agenda__post-reply">
																	
																</div>
															</div>

															<div>
																<a class="bod-agenda__post-pointer"><i class="fa fa fa-share" aria-hidden="true"></i></a>
																<ul  class="bod-agenda__post">
																	<li class="bod-agenda__tag">
																		<p class="bod-agenda__tag-line">
																			<span class="bod-agenda__tag-user"><i class="fa fa-user" aria-hidden="true"></i>Bill</span> got a review for<span class="bod-agenda__tag-object"> FLAT PLUS UI Interface Design</span> from <span class="bod-agenda__tag-user">   <img  src="assets/user-1.png"/>Andrew M.</span>
																		</p>
																		<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																	</li>
																	<li class="bod-agenda__comments">
																		<div class="bod-agenda__comment-img">
																			<img  src="assets/user-2.png"/>
																		</div>
																		<div class="bod-agenda__comment">
																			<p class="bod-agenda__tag-line">
																				<span class="bod-agenda__tag-user">Andrew</span> Good Job. Congrats and hope to see more admin templates like this in the future.
																			</p>
																			<span class="bod-agenda__tag-timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i>2 days ago</span>
																		</div>
																		

																	</li>																
																</ul>
																<div class="bod-agenda__post-reply">
																	
																</div>
															</div>	
															
														</section>
													</div>
													<ul class="bod-agenda__action">														
														<li><a class="btn-link"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>View more...</a></li>
													</ul>
												</div>								  		
											</div>

								  		</div>
								  	</div>
							  </li>

							</ul>
							<!--End: BOD List Group -->

						</div>
					</section>
					<!--End: BOD Module Wrapper-->
				</div>
				<div class="col-sm-12 col-md-4 col-lg-3">
					<section class="bod-profile" id="bodUserProfile">
						<div class="bod-profile__pic">
							<img  src="assets/profile-pic.png"/>
						</div>
						
						<p class="bod-profile__name">Bill Jonson</p>
						<p class="bod-profile__role">Senior VP</p>
					</section>

					<section class="bod-event">
						<header class="bod-event__header">Event</header>
						<div class="bod-event__body">
							<ul class="bod-event__list" id="bodEvent">
								<li class="bod-event__list-item">
									<span class="bod-event__details-sym"><i class="fa fa-calendar" aria-hidden="true"></i></span>
									<dl class="bod-event__details">
									    <dt>22 Dec 2016</dt>
									    <dd>1.00 - 5.00 PM</dd>									  
									</dl>
								</li>
								<li class="bod-event__list-item">									
									<span class="bod-event__details-sym"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
									<dl class="bod-event__details">
									    <dt>San Francisco</dt>
									    <dd>California, USA</dd>									  
									</dl>
								</li>
							</ul>	
						</div>						
						<footer class="row bod-event__footer">
							<div class="col-md-6 p-r-0"><button class="btn btn--primary btn-block"><i class="fa fa-check" aria-hidden="true"></i>Attend</button></div>
							<div class="col-md-6 p-l-0"><button class="btn btn-block">I might go</button></div>
						</footer>
					</section>


					<section class="bod-panel panel panel-default">
		  				<div class="panel-heading">Members</div>
		  				<div class="panel-body p-a-0">
		    				<ul class="bod-list-group bod-list-group--brdless list-group m-b-0" id="bodMeetingAttendance">
							  <li class="list-group-item">Attending <span class="pull-right">5</span></li>
							  <li class="list-group-item">Might go <span class="pull-right">2</span></li>
							  <li class="list-group-item">
								 <ul class="bod-list-group__img">
								 	<li class="bod-list-group__img-item"><img  src="assets/user-1.png"/></li>
								 	<li class="bod-list-group__img-item"><img  src="assets/user-2.png"/></li>
								 	<li class="bod-list-group__img-item"><img  src="assets/user-3.png"/></li>
								 	<li class="bod-list-group__img-item"><img  src="assets/user-4.png"/></li>
								 </ul>
							  </li>
							
							</ul>
		  				</div>
					</section>
				</div>
			</div>
			<!--End: BOD PageLayout -->
		</div>
	</main>
	<script>
		$(document).ready(function(){
			

			$('.owl-carousel').owlCarousel({
			    loop:true,
			    margin:10,
			    dots:false,
			    nav:true,
			    navText:['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
			    responsive:{
			        0:{
			            items:1
			        },
			        600:{
			            items:3
			        },
			        1000:{
			            items:5
			        }
			    }
			})

		})
	</script>

	<!--Start: Templates -->
	<script type="text/template" id='calenderNavItems'>

	 	<% _.each(NavItems, function(item, key, list) { %>            

			  <div class="bod-navigation__item item">
				<span class="bod-navigation__item-icn"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				<span class="bod-navigation__item-label"><%= item.date %></span>
			</div>
        <% });%>
		 	
	</script>


</body>
</html>

