/*
 *@_variables : all variables 
 *
 */

 $bd:"bod";


 $pri-color: #004a8e;//#2947AD;
 $pri-color--hover:#003d75;

 $sec-color: #007000;//#2947AD;
 $sec-color--hover:#006500;

 $font-gray:#8d8d8d;


//Transition Speed
 $tr-slow:.2s;
 $tr-medium:.5s;
 $tr-fast:.9s;