.#{$bd}{
	&-event{
		margin-bottom: 30px;
		&__header{
			height: 34px;
		    line-height: 34px;
		    color: #fff;
		    background: $pri-color;
		    padding: 0 15px;
		    font-size: 17px;
		    font-weight: bold;
		}

		&__list{
			@extend #list;

			&-item{
		        background: #efefef;
			    height: 60px;
			    border-bottom: solid 2px #FFF;
			}
		}

		&__actions{
			font-size: 20px;
			font-weight: 600;
			color: $pri-color;
			margin: 20px 0 0 0;
			@extend .m-p-0;
		}		

		&__details{
			display: inline-block;
    		width: calc(100% - 64px);
	    	margin: 0;
	    	height: 58px;
	    	vertical-align: top;
	    	padding: 8px 15px 0 0;

			&-sym{
			    display: inline-block;
	    		color: #a3a8ae;
	    		text-align: center;
	    		width: 60px;
	    		height: 58px;
			    .fa{
			    	font-size: 30px;
				    margin-top: 12px;
				    vertical-align: middle;
			    }
			}

			dt{
				font-size: 17px;
				font-weight: 600;
				color: #515B66;
				@extend #ellipsis;
			}

			dd{
				font-size: 14px;
				font-weight: 600;
				color: #2947AD;
				@extend #ellipsis;
			}
		}
	}	
}